body {
  background-color: rgb(135, 135, 135);
}

#navbar {
  width: 200px;
  top: 0;
  left: 0.5em;
  bottom: 0;
  height: 100%;
  position: fixed;
  background-color: rgb(241, 241, 255);
}
/*
.nav-header {
  padding: 1em 0.5em;
}*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  color: rgb(0, 0, 120);
  font-size: 1.1em;
}

li a:hover {
  background-color: blue;
  color: rgb(241, 241, 255);
}

li a:active {
  background-color: rgb(255, 216, 255);
  color: red;
}

#main-doc {
  position: absolute;
  top: 0;
  margin: 0 0.5em 0 205px;
  background-color: rgb(241, 241, 255);
}

.main-section {
  margin: 0;
  padding: 0 2rem;
}

header {
  padding: 1em 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}

/*NEEDS WORK

@media (max-width: 499px;) {
  li {
    float: left;
  }
  li a {
    display: block;
    padding: 0.25em;
  }
  #main-doc {
    position: fixed;
    margin: 0;
  }
}

*/
