ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 100px;
  padding: 0.5em;
  text-decoration: none;
  background-color: rgb(241, 241, 255);
  border: thin solid #000;
}

li a:hover {
  background-color: blue;
  color: rgb(241, 241, 255);
}
